<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="main">
    <h1>{{title}}</h1>
  <ng-container *ngFor="let item of formDetails">
      <label for="{{item.field}}">{{item.label}}</label>
      <ng-container *ngIf="item.type === 'text'">
        <input [hidden]="item.hidden === 'true'"
        type="{{item.type === 'text' ? 'text' : 'checkbox'}}"
        formControlName="{{item.field}}"
        required="{{item.mandatory}}">
      </ng-container>
      <ng-container *ngIf="item.type === 'check'">
        <input [hidden]="item.hidden === 'true'"
        type="checkbox"
        formControlName="{{item.field}}"
        checked>
      </ng-container>
    </ng-container>
    <input [disabled]="formValid" type="submit" value="Submit">
  </div>
</form>
